<!-- quantity-spinner -->
<div class="flex">
  <span 
    data-counter
    data-action="minus"
    class="focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-800 cursor-pointer border border-black border-r-0 w-7 h-7 md:h-8 flex items-center justify-center">-</span>
  <input name="quantity" id="counter" aria-label="input" class="border border-black h-7 md:h-8 text-center w-14 pb-1" type="text" value="{{ quantity | default: 1 }}" />
  <span 
    data-counter
    data-action="plus"
    class="focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-800 cursor-pointer border border-black border-l-0 w-7 h-7 md:h-8 flex items-center justify-center">+</span>
</div>
