<div class="login-block section-pad border-bottom">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-8">

        <div class="login-content">

          <h1 id="recover">Recover</h1>
          <div class="">
            <p>We will send you a link to reset your password.</p>
            {%- form 'recover_customer_password' -%}
              {% assign recover_success = form.posted_successfully? %}
              <div class="mb-4">
                <input type="email"
                  class="form-control"
                  value=""
                  name="email"
                  id="RecoverEmail"
                  autocorrect="off"
                  autocapitalize="off"
                  autocomplete="email"
                  {% if form.errors %}
                    aria-invalid="true"
                    aria-describedby="RecoverEmail-email-error"
                    autofocus
                  {% endif %}
                  placeholder="Email id" 
                >
              </div>

              {%- if form.errors -%}
                <p id="RecoverEmail-email-error" class="form__message mb-4 text-danger text-start">
                  {{ form.errors.messages['form'] }}
                </p>
              {%- endif -%}
            
              <button class="button button-full" type="submit">
                <span>
                  <span class="link-text" data-text="Submit">Submit</span>
                </span>
              </button>
            
              <div class="mt-4 text-center">
                <a href="#login" style="color: #000">Cancel</a>
              </div>

            {%- endform -%}
          </div>

          <h1 id="login">Login</h1>
          <div class="">
            <p>Don't have an account?
              <a href="{{ routes.account_register_url }}">Create a new account</a>
            </p>
  
            {%- form 'customer_login', novalidate: 'novalidate' -%}
              {%- if form.errors -%}
                <h2 class="form__message" tabindex="-1" autofocus>
                  Please fix the following errors:
                </h2>
                {{ form.errors | default_errors }}
              {%- endif -%}
  
              <div class="mb-4">
                <input type="email" 
                  placeholder="Email id" 
                  class="form-control" 
                  name="customer[email]"
                  id="CustomerEmail"
                  autocomplete="email"
                  autocorrect="off"
                  autocapitalize="off"
                  {% if form.errors contains 'form' %}
                    aria-invalid="true"
                  {% endif %}
                />
              </div>
              <div class="mb-4">
                <input
                  type="password"
                  placeholder="Password"
                  class="form-control"
                  value=""
                  name="customer[password]"
                  id="CustomerPassword"
                  autocomplete="current-password"
                  {% if form.errors contains 'form' %}
                    aria-invalid="true"
                  {% endif %}
                />
              </div>

              <div class="mb-4">
                <a href="#recover" style="color: #000">Forgot password?</a>
              </div>

              <div class="mb-4">
                <button class="button button-full" type="submit">
                  <span>
                    <span class="link-text" data-text="Login">Login</span>
                  </span>
                </button>
              </div>
            {%- endform -%}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

