{% comment %} pt-main-page {% endcomment %}

<section class="page-content section-pad">
  <div class="container">
    <h1 class="main-page-title">
      {{ page.title | escape }}
    </h1>
    <div class="rte">
      {{ page.content }}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Page content",
  "settings": [

  ]
}
{% endschema %}
