/* 
 * Do not write css / scss here
 * Cteate section wise sass / scss and @import that to here
 */

// Global css! All the @imoprt rules prior to this comment
.bg-theme,
.hover\:bg-theme:hover {
  background-color: rgba(var(--color-primary), 1);
}

.text-theme {
  color: rgba(var(--color-primary), 1);
}
.hover\:text-theme:hover {
  color: rgba(var(--color-primary), 0.7);
}

.border-theme,
.hover\:border-theme:hover {
  border-color: rgba(var(--color-primary), 1);
}

[fill="#6c63ff"] {
  fill: rgba(var(--color-primary), 1);
}


// @import '_swatches';